@{
    ViewBag.Title = "Contacto";
}
<h2>Contacto</h2>
<h3>Información de contacto</h3>

<address>
    UCA, Managua, Nicaragua
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:franklin.gonzalez1420@gmail.com">franklin.gonzalez1420@gmail.com</a><br />
</address>